.menuList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 135px;
  margin-right: 135px;
  gap: 4rem;
  max-width: 1280px;
  padding: 1.5rem 1.5rem;
  align-items: center;
  justify-content: center;
}

.menuOption {
  display: flex;
  flex-direction: column;
  width: 25%;
  p {
    font-weight: 600;
  }
  a {
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    padding: 0px 30px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    border: none;
    color: #008000;
    font-weight: 800;
    font-size: 1.3rem;
    gap: 1rem;
    cursor: pointer;

    svg {
      font-size: 2.5rem;
    }

    svg:not(.associationIcon) {
      path {
        stroke: #008000;
      }
    }

    &:hover {
      border: 1px solid #008000;
    }
  }
}
