.footer {
  background-color: #008000;
  color: white;
  font-weight: 400;
  height: fit-content;
  grid-row: -1;
  width: 100%;

  ul {
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    list-style: none;
    width: 90%;
  }

  li {
    width: fit-content;
  }
}

.logo {
  display: flex;
  place-items: center;
  gap: 0.45rem;
  color: white;
}

.ufapelmtsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ufapeLogo {
  max-width: 60px; /* Tamanho da logo da UFAPE */
  max-height: 55px; /* Tamanho da logo da UFAPE */
}

.lmtsLogo {
  max-width: 90px; /* Tamanho da logo do LMTS */
  max-height: 40px; /* Tamanho da logo do LMTS */
}

.socialNetwork {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: fit-content;

  svg {
    font-size: 20px;
  }
}

.socialNetwork Link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .footer svg {
    width: 40%;
  }
  .ufapelmtsWrapper {
    width: 60%;
    place-self: end;
  }
  .logoImg {
    width: 20%;
  }
  .ufapeLogo {
    padding: 0.6rem;
  }
  .lmtsLogo {
    padding: 0.6rem;
  }
  .socialNetwork {
    gap: 0.6rem;
  }
}
